.contactHeader {
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      hsla(220, 86%, 5%, 0.342),
      hsla(226, 35%, 15%, 0.376)
    ),
    url(../../img/ss4.png);
  background-size: cover;
  background-position: top;

  &__title {
    padding: 12vw 10vw;
    font-size: 8vw;
    color: white;
    animation: moveInLeft 2s ease-out;

    @include respond(tab-land) {
      padding: 17vw 10vw;
      font-size: 10vw;
    }

    @include respond(tab-port) {
      padding: 18vw 12vw;
      font-size: 12vw;
    }

    @include respond(phone) {
      padding: 30vw 15vw;
      font-size: 12vw;
    }
  }

  &__card {
    padding: 2vw 0;
    background-color: white;
    width: 15vw;
    height: 15vw;
    border-radius: 10%;
    position: absolute;
    top: 60%;
    left: 65%;
    transform: translate(10%, -20%);
    box-sizing: border-box;

    @include respond(tab-land) {
      top: 60%;
      left: 55%;
      padding: 3vw 0;
      width: 25vw;
      height: 25vw;
    }

    @include respond(tab-port) {
      top: 60%;
      left: 50%;
      padding: 3vw 0;
      width: 25vw;
      height: 25vw;
    }

    @include respond(phone) {
      top: 60%;
      left: 45%;
      padding: 4vw 0;
      width: 35vw;
      height: 35vw;
    }

    @include respond(big-desktop) {
      top: 65%;
      left: 55%;
    }
  }

  &__name {
    text-align: center;
    font-size: 0.8vw;
    color: #98b3c4;
    text-transform: uppercase;

    @include respond(tab-land) {
      margin: 0.4vw;
      font-size: 1.2vw;
    }

    @include respond(tab-port) {
      margin: 0.4vw;
      font-size: 1.2vw;
    }

    @include respond(phone) {
      margin: 0.7vw;
      font-size: 1.7vw;
    }
  }

  &__answer {
    margin: 0.2vw;
    text-align: center;
    font-size: 1.2vw;
    color: #0b283c;

    @include respond(tab-land) {
      margin: 0.4vw;
      font-size: 1.7vw;
    }

    @include respond(tab-port) {
      margin: 0.4vw;
      font-size: 1.7vw;
    }

    @include respond(phone) {
      margin: 0.7vw;
      font-size: 2.2vw;
    }
  }
}
