.google-translate {
    position: absolute;
    top: 1%;
    transform: translate(15%, 100%);
    z-index: 1;
    width: 30%;
  }

// .goog-te-gadget{
//     display: none;
// }

.VIpgJd-ZVi9od-ORHb-OEVmcd{
    display: none;
}

.VIpgJd-ZVi9od-l4eHX-hSRGPd{
    display: none;
}