@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    
    80% {
        transform: translateX(1.5rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }  
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    
    80% {
        transform: translateX(-1.5rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }  
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }  
}

@keyframes fadeInUpward {
    from {
      opacity: 0;
      transform: translate(-50%, -60%); /* Start slightly higher */
    }
    to {
      opacity: 1;
      transform: translate(-50%, -50%); /* End at the desired position */
    }
  }
