.navbar {
  max-width: 100%;
  position: fixed;
  top: 0;
  z-index: 1500;
  background-color: white;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.4);

  // @include respond(tab-port) {
  //     display: none;
  // }

  // @include respond(phone) {
  //     display: none;
  // }

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(8%, 0%);
    max-width: 100%;
    padding: 0 40rem 0 15rem;

    @include respond(phone) {
        padding: 0 10rem 0 7rem;
      }
  }

  &__logo {
    width: 30rem;
    height: 10rem;

    @include respond(tab-land) {
        width: 20rem;
        height: 10rem;
      }
  
      @include respond(tab-port) {
        width: 15rem;
        height: 7rem;
      }
  
      @include respond(phone) {
        width: 10rem;
        height: 5rem;
      }
  }

  &__list {
    padding: 1rem 35rem;
    width: 1000vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(tab-land) {
      padding: 1rem 15rem;
    }

    @include respond(tab-port) {
        padding: 1rem 10rem;
    }

    @include respond(phone) {
        padding: 1rem 5rem;
    }
  }

  &__item {
    list-style: none;
    padding: 1rem 2rem;
    transition: transform 0.3s;

    @include respond(phone) {
        padding: 1rem;
    }

    &:hover {
      transform: translateY(0.7rem) scale(1);
    }
  }

  &__link {
    text-decoration: none;
    color: $color-primary-dark;
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    animation: moveInLeft1 2s ease-out;

    @include respond(tab-port) {
        font-size: 2.5rem;
    }

    @include respond(phone) {
        font-size: 2rem;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

@keyframes moveInLeft1 {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
